#buttonSwitch{

}

#buttonSwitch.on{
	background-color:yellow !important;
}

#buttonSwitch.off{
	background-color:transparent !important;
}

.btn-huge{
	width:100%;
	height:100px;
	-moz-border-radius: 18px  !important;
	-webkit-border-radius: 18px  !important;
	border-radius: 18px !important;

	font-size: 70px;
	padding-top: 0px;

	border: 3px solid black;
}

.debug{
	background-color: #afafaf;
}

.row{
	margin-top: 20px;
}

.slider{
	width:100% !important;
}

.col-centered{
	float: none;
	margin: 0 auto;
	width:100%;
}

#bulb{
	width: 216px;
	height: 305px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

img{
	position: absolute;
}

img.intensity{
}