.row{
	margin-top: 20px;
}

.col-centered{
	float: none;
	margin: 0 auto;
	width:100%;
}

#bulb{
	width: 216px;
	height: 305px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

img{
	position: absolute;
}

img.intensity{
}